h1 {
	transform: skewY(-10deg);
}

.myRow {
	transform: skewY(-10deg);
}

.myCard {
	transition: 0.5s;
}

.myCard:before {
	content: '';
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 15px;
	background: #f3f3f3;
	transform-origin: bottom;
	transform: skewX(45deg);
	transition: 0.5s;
}

.myCard:after {
	content: '';
	position: absolute;
	top: -15px;
	left: -15px;
	width: 15px;
	height: 100%;
	background: #c2c2c2;
	transform-origin: left;
	transform: skewY(45deg);
	transition: 0.5s;
}

.myCard:hover {
	transform: translateY(-20px);
}

.myContent {
	background: white;
}

.myContent:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(transparent, transparent, rgba(0,0,0,.1));
	transform-origin: bottom;
	transform: skewX(45deg);
	transition: 0.5s;
	pointer-events: none;
	z-index: -1;
}

.myCard:hover .myContent:before {
	transform: translateY(40px) skewX(45deg);
	filter: blur(5px);
	opacity: 0.5;
}

.myCard:nth-child(1) {
	z-index: 6;
}

.myCard:nth-child(2) {
	z-index: 5;
}

.myCard:nth-child(3) {
	z-index: 4;
}

.myCard:nth-child(4) {
	z-index: 3;
}

.myCard:nth-child(5) {
	z-index: 2;
}

.myCard:nth-child(6) {
	z-index: 1;
}